body {
  margin: 0;
  background-color: #eee;
}

@media (max-width: 812px) {
  .info-list{
    display: block;
  }
}

.header {
  position: fixed;
  z-index: 1;
  height: 50px;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.Amd {
  width: 150px;
}

.navitation {
  height: 80px;
  width: 1000px;
  max-width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style: none;
}

li {
  float: left;
  margin-left: 10px;
}


.img {
  width: 20px;
  height: 25px;
  margin-left: 25px;
}

.select-1 {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
}

.sliders-cta {
  position: absolute;
  bottom: 20px; 
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.slide {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background-position: center center;
  background-size: cover;
  position: absolute;
}

.now {
  opacity: 1;
}

.position-text {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.text {
  color: greenyellow;
  font-size: 50px;
}

.blocks {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 25px;
}

.block {
  border: 2px;
  height: 370px;
  width: 350px;
  margin-right: 25px;
  cursor: pointer;
  overflow:hidden;
  box-shadow: 0 0 5px;
  background-color: white;
}

.imfg {
  width: 100%;
  height: 125px ;
}

.block-titile {
  color: greenyellow;
  text-align: left;
  margin-left: 10px;
}

.block-text {
  color: black;
  text-align: left;
  margin-left: 10px;
}

.add-clas {
  margin-bottom: 80px;
}

.add-clas-block {
  height: 525px;
}

.info-list {
  width: 100%;
  height: 700px;
  background-color: black;
}

.links-box {
  width: 2350px;
  max-width: 50%;
  margin-left: 25%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

.links {
  display: block;
}

.links-dop {
  margin-left: 0;
}

.subtitle {
  color: white;
  text-align: left;
  font-size: 25px;
}

hr {
  height: 2px;
  width: 100%;
  border: none;
  color: white;
  background-color: white;
  margin-bottom: 10px;
}

p {
  color: greenyellow;
  margin-bottom: 8px;
  cursor: pointer;
}

.logo-box {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.logos {
  display: flex;
}

.logo {
  background-color: gray;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  background-color: greenyellow;
  color: white;
  width: 125px;
  height: 55px;
  margin-left: 10px;
}

.drop {
  display: flex;
}

.follow {
  display: block;
  color: gray;
  font-size: 15px;
  position: relative;
} 

.menu-list {
  cursor: pointer;
}

.syb-follow :hover {
background-color: hotpink;
}

.drop-menu {
  justify-content: center;
  display: none;
  position: absolute;
  width: 100px;
}

.menu-list>li:hover .drop-menu {
  background-color: hotpink;
  display: block;
  background-color: black;
  color: white;
}

.syb-follow {
  justify-content: left;
  display: inline-block;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 10px;
  color: gray;
  list-style: none;
  
}

.title {
  color: white;
  font-size: 15px;
  margin-left: 10px;
}

.sce-2 {
  display: flex;
  background-color: white;
  width: 100%;
  height: 48px;
}

.yo {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.secthion-2 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 27%;
}

.color-gray {
  color: gray;
  cursor: pointer;
}

.next {
  background-color: greenyellow;
  color: white;
  width: 125px;
  height: 55px;
  margin-left: 10px;
}
